#Project
_xmsgs
iseconfig
*.xise

#Implementation
ipcore_dir
*.v
*_summary.html
*.gise

#Simulation
isim
*_beh.prj
*_isim_beh.exe
*_isim_beh.wdb
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
isim.log
xilinxsim.ini

#Synthesize
xst
*.cmd_log
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.xst
*_envsettings.html
*_xst.xrpt
webtalk_pn.xml